<H1>My Jupyter Notebook on IBM Watson Studio</H1>

Priyanka Principal Data Scientist

<I>I'm interected in Data Science because I think it helps solve for real world problems.</I>

<H3>Below is an example of Arithmatic calculations which can be performed using Python</H3>

In [2]:
900/100

9.0

Example below has both numbers and bullets
<ol>
  <li>First item</li>
    <ul>
    <li>Sub set First Item</li>
    <li>Sub set Second Item</li>
    </ul>
  <li>Second item</li>
  <li>Third item</li>
  <li>Fourth item</li>
</ol>
<br>
This is a link example
[link](https://www.google.com/)<br>
Example below is for Table creation<br>

| Item         | Price     | # In stock |
|--------------|-----------|------------|
| Apples       | 1.99      | 7          |
| Bananas      | 1.89      | 5234       |

<H2> End of Assignment</H2>